<div id="play-btns">
    <div>
        <app-play></app-play>
        <app-stop></app-stop>
        <app-generate-melody></app-generate-melody>
        <app-select-key></app-select-key>
    </div>

        <app-bpm></app-bpm>

</div>
