@import '../../../variables.scss';

.button-common{
    margin: 5px 10px;
    background-color:  $main-theme;
    color: white;
    padding: 0; 
    width: $tileWidth * 2;                                      ;
    height: 100%;
    min-width: unset!important;
}
