@import '../../../variables.scss';

button{
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 80%;
    background: $disabled-colour;
    min-width: unset!important;
    vertical-align: top;

    &:hover {
        cursor: default;
    }
}


