<div id="main">
    <div id="main-elements">
        <div id="toolbar">  
            
            <app-grid-parameters></app-grid-parameters>
            <app-chord-grid></app-chord-grid>
            <app-melody-grid></app-melody-grid>
            <app-drum-grid></app-drum-grid>

        </div>
    </div>
</div>