@import "../../../theme.scss";
@import "../../../variables.scss";

// $primary: map-get($my-app-theme, primary);

#main {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  background: rgb(235, 235, 250);
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  overflow: hidden;

  #main-elements {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .db-buttons {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: end;
      width: 350px;
      padding-left: 50px;
    }

    #toolbar {
        display: flex;
        align-items: center;
        gap: 50px;
      text-align: center;
      // width: $melodyAndDrumWidth;
      // margin: auto;
      // float: right;
    }
  }
}

.test {
  display: inline-block;
}
