@import '../../../theme.scss';
 @import '../../../variables.scss';

$primary: map-get($my-app-theme, primary);
.gridWithParams{
    margin-left: 15px;
    margin-right: 15px;
}
#parent-params{
    width: 100%;
    margin-bottom: 5px;

    
}
#params{
    float: right;
    width: $tilesContainerWidth;
}


#grid{
    // width: $gridWidth;
    float: right;
    margin-bottom: 15px;
    

    #contain-tiles{
        width: $tilesContainerWidth;
        float: right;
        text-align: left;

        .tiles{
            height: $rowHeight;
            line-height: $rowHeight;
            width: $tilesContainerWidth;
            margin-bottom: $tileMarginTop;

            .app-tile{
                text-align: left;
                background: rgb(202, 202, 255);
                height: $tileHeight;
                width: $tileWidth;
                display: inline-block;
                margin-right: $tileMarginRight;
                vertical-align: middle;
            }
        }
    }
}





.volume, .synth {
    display: inline-flex;
  }
.synth{
transform: translateY(-25%)
}






