@import '../shared.scss';
@import '../../shared.scss';
@import '../../../../variables.scss';


button{
    font-size: 12px;
    width: $tileWidth * 2 + 'px';
    height: $tileHeight * 2 + 'px';
    // min-width: unset!important;
    padding: 0;
    // margin-bottom: 100px;
}

.icon-btn{
    transform: scale(1.75);
}

