<button  id="synth" mat-button [matMenuTriggerFor]="menu">
  <mat-icon class="icon-btn" svgIcon={{gridService.synthName}} ></mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="setSynth(synth)" *ngFor="let synth of synthService.synthsArray">
    <mat-icon class="icon" svgIcon={{synth}}></mat-icon>
  </button>
</mat-menu>
