@import '../../../../variables.scss';


.mat-slider-horizontal {
    min-width: $tileWidth * 3;
 }

 .parent-div{
     height: 100%;
     display: flex;
    justify-content: center;
    align-items: center; 
 }
 