<div class="parent-div">
    <label><b>bpm</b></label>
    <mat-slider id="bpm" thumbLabel [displayWith]="onChange"(input)=onChange($event.value) 
    color="primary" [min]=min [max]=max step="1" [value]="slider"
    ></mat-slider>
</div>
