<div class="parent-div">
    <label class="icon-div">
    <mat-icon class="icon" svgIcon="volume"></mat-icon>
    </label>
    <!-- </label> -->
    <div class="slider-div">
        <mat-slider id="volume" thumbLabel [displayWith]="onChange" (input)=onChange($event.value) 
        color="primary" min="0" max="100" step="1" [value]="sliderPos">
    </mat-slider>
    </div>
    
</div>
    