.smaller-btns-div{
    display: inline-block;
    height: $tileHeight;
    margin-bottom: 2px;
}
.smaller-btn{
    line-height: 100%;
    width: $tileWidth ; 
    padding-top: 2px;
    padding-bottom: 2px;
}
.icon{
    height: 100%;
}
 .mat-menu {
        background-color: red;
    }

      .mat-menu-panel {
      --mat-menu-container-color:red; /* e.g., #f0f0f0 or var(--my-custom-color) */
    }