.smaller-btns-div{
    display: inline-block;
    height: $tileHeight;
    margin-bottom: 2px;
}
.smaller-btn{
    line-height: 100%;
    width: $tileWidth ; 
    padding-top: 2px;
    padding-bottom: 2px;
}
.icon{
    height: 100%;
}