@import '../shared.scss';
@import '../../shared.scss';
@import '../../../../variables.scss';

#drum-grid{
  display: inline-block;


}
#grid{
  height: $gridHeightMelody;
  width: $drumGridWidth;


   #contain-tiles{
      height: $gridHeightDrums;
    }
}

#drum-type {
    display: inline-block;
    height: $gridHeightDrums;
    width: $tileHeight;
}

.icon{
  height: $tileHeight ;
}

