<div id="chord-grid" class=gridWithParams> 

    <div id=parent-params>

        <div id="params">
            <div class="smaller-btns-div">
                <div class="volume"><app-volume [gridService]=chordGridService></app-volume></div>
                <div class="synth"><app-synth [gridService]=chordGridService></app-synth></div>
            <div >
                <app-add-column [gridService]=chordGridService ></app-add-column>
                <app-delete-column [gridService]=chordGridService></app-delete-column>
            </div>
        </div>
            <app-select-chord></app-select-chord>
            <app-select-duration [gridService]=chordGridService ></app-select-duration>
        </div>
    </div>

    <div id="grid">
        <div id="keys" >
            <div [ngClass]="note.charAt(1)" class="key" *ngFor="let note of chordGridService.notes"></div>

        </div>

        <div id="contain-tiles">
            <div class="tiles" *ngFor="let note of chordGridService.notes">
                <app-tile class="app-tile app-tile-{{chordGridService.gridType}}" [gridService]=chordGridService
                [attr.column]=colPos [column]="colPos" [note]=note *ngFor="let colPos of chordGridService.numColsArr"></app-tile>
            </div>
        </div>
    </div>
</div>