<div id =drum-grid class=gridWithParams>
  <div id=parent-params>
    <div id="params">
      <div class="smaller-btns-div">
        <app-add-column [gridService]=drumGridService ></app-add-column>
        <app-delete-column [gridService]=drumGridService></app-delete-column>
      </div>
      <app-select-duration [gridService]=drumGridService ></app-select-duration>
    </div>
  </div>

  <div id="grid">
    <div id="drum-type" >
      <div  *ngFor="let note of drumGridService.notes"> 
        <mat-icon class="icon" svgIcon="{{note}}"></mat-icon>
      </div>

    </div>
      <div id="contain-tiles">
          <div class="tiles" *ngFor="let note of drumGridService.notes">
              <app-tile class="app-tile app-tile-{{drumGridService.gridType}}" [gridService]=drumGridService
              [attr.column]=colPos [column]="colPos" [note]=note *ngFor="let colPos of drumGridService.numColsArr"></app-tile>
          </div>
      </div>
  </div>

</div>

