
    <div  id="param-btns-container">
        <div class="param-btn {{gridService.gridType}}-param-btn  {{gridService.gridType}}-param-btn-{{durationBtn.column}}" *ngFor="let durationBtn of gridService.durationBtns">
        <button class="{{gridService.gridType}}-duration-btn duration-btn-{{durationBtn.column}}" mat-button  [matMenuTriggerFor]="menu">
            <mat-icon svgIcon="{{durationBtn.duration}}"></mat-icon>
            
            
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [attr.column]=durationBtn.column (click)="durationService.setDuration(duration, gridService, $event)"
                *ngFor="let duration of durationArray">
                <mat-icon (click)="durationService.setDuration(duration, gridService, $event)" svgIcon="{{duration}}"></mat-icon>
            </button>
        </mat-menu>
        </div>
    </div>

