<button class="button-common" id="select-key" mat-raised-button [matMenuTriggerFor]="menu">{{ keyService.currentKey }}</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="setKey(key)" *ngFor="let key of keyService.keysArray">{{ key }}</button>
</mat-menu>
