<div id="param-btns-container">

    <div class="param-btn chord-param-btn chord-param-btn-{{chordBtn.column}}" *ngFor="let chordBtn of chordService.chordBtns">
       <button mat-button class="chord-btn smaller-btn" id="column-chord-{{chordBtn.column}}" [matMenuTriggerFor]="menu">
            <mat-icon class="icon" *ngIf="chordBtn.name === '-';else show_chord" svgIcon="chord"></mat-icon>
           <ng-template #show_chord>{{chordBtn.name}}</ng-template>
        </button>
       <mat-menu #menu="matMenu">
           <button mat-menu-item [attr.column]=chordBtn.column (click)="setChord($event, chord)" 
           *ngFor="let chord of keyService.keyChords.get(keyService.currentKey)">{{chord.name}}</button>
       </mat-menu>
    </div>
</div>