@import '../../../variables.scss';

#param-btns-container{
    margin-top:6px;
    float: right;

    width: $tilesContainerWidth;

    .param-btn{
        float: left;
        text-align: center;
        width: $tileWidth;
        margin-right: $tileMarginRight;


        button{
            font-size: 12px;
            width: 100%;
            height: 100%;
            min-width: unset!important;
            padding: 0;
        }
    }
}