<button id="delete-column" class=" smaller-btn delete-column delete-column-{{gridService.gridType}}" mat-button (click)="deleteColumn()">
    <mat-icon class="icon" svgIcon="subtract"></mat-icon>

</button>
