$disabled-colour: rgb(202, 202, 255);
$main-theme: rgb(79,79,255);

$numCols: 8;
$numRowsMelody: 12;
$numRowsDrums: 2;
$rowHeight: 20px;
$tileHeight: $rowHeight * 0.95;
$tileWidth: $tileHeight * 1.75;
$tileMarginRight: 2px;
$totalTileWidth: $tileWidth + $tileMarginRight;
$tileMarginTop: 1px;
$keyMarginRight: 3px;
$keyBorder: 1px;
$keyWidth: ($rowHeight * 0.75 * 2) + ($keyBorder * 2);
$drumTypeWidth: $keyWidth * 1.25;
$tilesContainerWidth: ($tileWidth + $tileMarginRight) * $numCols;
$gridHeightMelody: $numRowsMelody * ($rowHeight + $keyBorder);
$gridHeightDrums: $numRowsDrums * ($rowHeight + $keyBorder);
$keyContainerWidth: $keyWidth + $keyMarginRight;
$drumTypeContainerWidth: $drumTypeWidth + $keyMarginRight;
$drumGridWidth: $tilesContainerWidth + $drumTypeContainerWidth; 
$melodyGridWidth: $tilesContainerWidth + $keyContainerWidth; 
$melodyAndDrumWidth: $drumGridWidth + $melodyGridWidth + 150;

