@import "./variables.scss";

@font-face {
  font-family: roboto;
  src: url(assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

* {
  font-family: "roboto";
}
div {
  //border: 1px solid #000000;
}

body {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  .mat-mdc-menu-panel {
    background-color: #ffffff !important;
  }
  .mat-mdc-menu-item {
    transition: background-color 0.15s;
  }
  .mat-mdc-menu-item:hover {
    background-color: #e8e8e8 !important;
  }
}

button:hover {
  cursor: pointer;
}

.button-common {
  margin: 5px 10px;
  background-color: $main-theme;
  color: white;
  padding: 0;
  width: $tileWidth * 2;
  height: 100%;
  min-width: unset !important;
  .mat-icon {
    color: white;
    fill: white;
  }
}
