@font-face {
    font-family: roboto;
    src: url(assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
  }

  *{
      font-family: 'roboto';
  }
  div{
  //border: 1px solid #000000;

  }
  
  body{
    margin: 0;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
