// @use '@angular/material' as mat;
// // @include mat-core();

// /* For use in src/lib/core/theming/_palette.scss */
// // $primary: mat.define-palette(
// //     50 : #eaeaff,
// //     100 : #cacaff,
// //     200 : #a7a7ff,
// //     300 : #8484ff,
// //     400 : #6969ff,
// //     500 : #4f4fff,
// //     600 : #4848ff,
// //     700 : #3f3fff,
// //     800 : #3636ff,
// //     900 : #2626ff,
// //     A100 : #ffffff,
// //     A200 : #ffffff,
// //     A400 : #d4d4ff,
// //     A700 : #babaff,
// //     contrast: (
// //         50 : #000000,
// //         100 : #000000,
// //         200 : #000000,
// //         300 : #000000,
// //         400 : #ffffff,
// //         500 : #ffffff,
// //         600 : #ffffff,
// //         700 : #ffffff,
// //         800 : #ffffff,
// //         900 : #ffffff,
// //         A100 : #000000,
// //         A200 : #000000,
// //         A400 : #000000,
// //         A700 : #000000,
// //     )
// // );


// $my-app-primary: mat.m2-define-palette(mat.$m2-indigo-palette, 500);;
// $my-app-accent:  mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);;
// // $my-app-warn:    mat-palette($mat-deep-orange);
// // $my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
// // @include angular-material-theme($my-app-theme);


// $my-theme: mat.m2-define-light-theme((
//   color: (
//     primary: $my-app-primary,
//     accent: $my-app-accent,
//   )
// ));

// @include mat.all-component-themes($my-theme);




@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0
  ));
}